<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950693853680-m51f00caeipuhl18ecvnkeeerlkrmurb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950693853680-m51f00caeipuhl18ecvnkeeerlkrmurb</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2XM052HzWp5LdQIOdx8ho_ur3ZuwbGU</string>
	<key>GCM_SENDER_ID</key>
	<string>950693853680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter</string>
	<key>PROJECT_ID</key>
	<string>mekfriend</string>
	<key>STORAGE_BUCKET</key>
	<string>mekfriend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950693853680:ios:9145807e95899e7c354535</string>
	<key>DATABASE_URL</key>
	<string>https://mekfriend-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>